.additem {
    background-color: #FFF;
    text-align: center;
    padding: 20px 20px
}

.title-additem {
    color: grey;
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px
}

.flex-additem {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-additem {
    display: inline-block;
    margin: center auto;
    text-align: center;
    width: 500px;
    height: 300px;
}

.input-additem {
    width: 400px;
    height: 60px;
    font-size: 20px;
    text-align: center;
    margin: 20px 20px;
    border-radius: 10px;
}

.textarea-additem {
    /* width: 400px;
    font-size: 20px;
    text-align: center;
    margin: 20px 20px;
    border-radius: 10px;
 */
    font-family: inherit;
    width: 400px;
    text-align: left;
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    border-bottom: 1px solid rgb(114, 112, 112);
    background-color: rgb(240, 240, 240);
}

.category-additem {
    padding: 20px;
    width: 400px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(114, 112, 112);
    background-color: rgb(240, 240, 240);
    color: grey;
}

.btn-additem {
    width : 400px;
    height: 60px;
    color: white;
    background-color: grey;
    border-radius: 10px;
    font-weight: bold;
}

button:hover {
    background-color: silver;
}

.form-upload {
    display: inline-block;
    text-align: center;
    width: 400px;
}

.title-upload {
    color: black;
    margin: 5px 0px
}

.input-upload {
    width: 300px;
    height : 50px;
}

.btn-upload {
    padding: 10px 20px;
    border: none;
    background-color: grey;
    color: white
}

.img-additem {
    max-width: 100px;
    max-height: 100px;
    margin: 20px 20px;
    padding: 10px 10px
}

.suggestion-additem {
    width: 400px;
    height: 220px;
    overflow: scroll;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid rgb(114, 112, 112);
    background-color: rgb(240, 240, 240);
    padding: 20px;
}
.suggestion-additem h4{
    text-align: left;
    text-decoration: underline;
}