.additem {
    background-color: white;
    text-align: center;
    padding: 20px 20px;
    max-width: 1000px;
    margin: 40px auto;
    color: black;
}

.title-additem {
    font-size: 40px;
    font-weight: 800;
    margin-top: 20px
}

.flex-additem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form-additem {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px 10px;
    width: 400px;
}

.input-additem {
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    background-color: rgb(240, 240, 240);
    font-size: 18px;
    margin-top: 20px;
    padding: 10px
}

.textarea-additem {
    outline: 0;
    border-width: 0 0 1px;
    border-color: black;
    background-color: rgb(240, 240, 240);
    font-size: 18px;
    margin-top: 20px;
    padding: 10px
}

.category-additem {
    outline: 0;
    color: black;
    border-width: 0 0 1px;
    border-color: black;
    background-color: rgb(240, 240, 240);
    font-size: 18px;
    margin-top: 20px;
    padding: 20px;
    height: 40px
}

.btn-additem {
    height: 60px;
    color: white;
    background-color: black;
    transition: 0.3s;
    font-size: 24px;
    margin-top: 20px;
    transition: 0.3s
}

button:hover {
    background-color: white;
    border: solid black;
    color: black;
}

.form-upload {
    text-align: center;
    margin: 10px 10px;
}

.title-upload {
    color: white;
    background-color:  #595959;
    padding: 20px;
    margin-bottom: 30px;
}

.input-upload {
    width: 300px;
    font-size: 20px;
}

.btn-upload {
    padding: 10px 10px;
    font-size: 15px;
    border: none;
    background-color: black;
    color: white
}

.btn-upload:hover {
    background-color: white;
    border: solid black;
    color: black;
}

.img-additem {
    max-width: 200px;
    max-height: 200px;
    margin: 20px 20px;
    padding: 10px 10px;
    border: solid rgb(29, 29, 29);
}

.suggestion-additem {
    width: 400px;
    height: 220px;
    overflow: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(114, 112, 112);
    background-color: rgb(240, 240, 240);
    padding: 20px;
    color: black;
    text-align: left;
}
.suggestion-additem h4{
    text-align: left;
    text-decoration: underline;
}