html, body {
    width: 100%;
    height: 100%;
}

body {
    /* background: #0d161f; */
    background: url('./assets/images/bg-body.jpg');
    background-attachment: fixed;
}

#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
}

.loader {
    width: calc(100% - 0px);
    height: calc(100% - 0px);
    border: 8px solid rgb(54, 54, 54);
    border-top: 8px solid rgb(165, 165, 165);
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}