.login {
    background-image: linear-gradient(black, #0c0d0d);
    text-align: center;
    width: 500px;
    margin: 40px auto;
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 10px 10px  #595959;
}

.title-login {
    color: whitesmoke;
    font-size: 50px;
    font-weight: 800;
}

.div-form {
    display: block;
    text-align: center;
    margin-top: 50px;
}

.form-login {
    display: inline-block;
    margin: center auto;
    text-align: center;
    width: 500px;
    height: 250px;
}

.input-login {
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    background: transparent;
    color: white;
    font-size: 18px;
    width: 400px;
    height: 30px;
    text-align: left;
    margin-bottom: 20px;
    padding: 20px;
}

.btn-login {
    width : 400px;
    height: 60px;
    color: white;
    background-color: #5415CE;
    border-radius: 10px;
    font-weight: bold;
}

button:hover {
    background-color: silver;
}

.footer-login {
    color: whitesmoke
}

a {
    color: white;
    font-style: italic;
    font-weight: bold;
}

.register {
    padding: 50px 0 100px;
    text-align: center;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(black, #0c0d0d);
    color: white;
    box-shadow: 10px 10px  #595959;
    flex-wrap: wrap;
}

.title-register {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}

.div-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-register {
    display: inline-block;
    margin: center auto;
    text-align: center;
    width: 500px;
    height: 500px;
}

.input-upload-register{
    font-size: 18px;
}

.input-register {
    outline: 0;
    border-width: 0 0 2px;
    border-color: white;
    background: transparent;
    color: white;
    font-size: 18px;
}


.btn-register {
    width : 400px;
    height: 60px;
    color: white;
    background-color: rgb(80, 80, 80);
    border: none;
    transition: 0.3s;
    font-size: 24px;
}

button:hover {
    background-color: silver;
}

.form-upload-register {
    display: inline-block;
    margin: center auto;
    text-align: center;
    width: 300px;
    height: 500px;
}

.title-upload-register {
    color: white;
    background-color:  #595959;
    padding: 20px;
    margin-bottom: 30px;
}

.input-upload-register {
    width: 300px;
    height : 50px;
}

.btn-upload-register{
    width: 300px;
    height: 50px;
    border: none;
    background-color: grey;
    color: white;
    transition: 0.3s;
    font-size: 16px;
}

.img-avatar {
    max-width: 200px;
    max-height: 200px;
    margin: 20px 20px;
    padding: 10px 10px;
    border-radius: 50%;
}

.footer-register {
    margin-top: 20px;
}
