.login {
    background-image: linear-gradient(#F98A06, #F9BE06);
    text-align: center;
    width: 500px;
    margin: 40px auto;
    border-radius: 10px;
    padding-bottom: 20px;;
}

.title-login {
    color: #5415CE;
    font-size: 50px;
    font-weight: 800;
}

.div-form {
    display: block;
    text-align: center;
}

.form-login {
    display: inline-block;
    margin: center auto;
    text-align: center;
    width: 500px;
    height: 250px;
}

.input-login {
    width: 400px;
    height: 30px;
    text-align: left;
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    border-bottom: 1px solid rgb(114, 112, 112);
    background-color: rgb(240, 240, 240);
}

.btn-login {
    width : 400px;
    height: 60px;
    color: white;
    background-color: #5415CE;
    border-radius: 10px;
    font-weight: bold;
}

button:hover {
    background-color: silver;
}

.register {
    padding: 50px 0 100px;
    text-align: center;
    width: 900px;
    margin: 40px auto;
    border-radius: 10px;
    padding-bottom: 10px;
}

.title-register {
    color: #5415CE;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 30px;
}

.div-register {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-register {
    display: inline-block;
    margin: center auto;
    text-align: center;
    width: 500px;
    height: 500px;
}
/* 
.input-register {
    width: 400px;
    height: 30px;
    text-align: left;
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    border-bottom: 1px solid rgb(114, 112, 112);
    background-color: rgb(240, 240, 240);
} */

.btn-register {
    width : 400px;
    height: 60px;
    color: white;
    background-color: rgb(80, 80, 80);
    border: none;
    transition: 0.3s;
}

button:hover {
    background-color: silver;
}

.form-upload-register {
    display: inline-block;
    margin: center auto;
    text-align: center;
    width: 300px;
    height: 500px;
}

.title-upload-register {
    color: white;
    background-color: #5415CE;
    padding: 20px;
    margin-bottom: 30px;
}

.input-upload-register {
    width: 300px;
    height : 50px;
}

.btn-upload-register{
    width: 300px;
    height: 50px;
    border: none;
    background-color: grey;
    color: white;
    transition: 0.3s;
}

.img-avatar {
    max-width: 100px;
    max-height: 100px;
    margin: 20px 20px;
    padding: 10px 10px
}

.footer-register {
    margin-top: 20px;
}
