@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
}
a{
  text-decoration: none;
  color: #201C1A;
  font-size: large;
}
body{
  font-family: 'Space Mono', monospace;
  /* background-image: url('./assets/images/bg.jpg') !important; */
}
p, button, input{
  font-family: 'Arvo', serif;
}
h5{
  font-size: large;
  margin-bottom: 10px;
}
/* HEADER SECTION */
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px 10px 30px;
  /* background-color: #5415CE; */
  /* background-color: #232323; */
  background-image: url('./assets/images/bg.jpg');
}
.logo-container{
  width: 300px;
}
.header-search-container{
  /* display: flex; */
}
.header-search-container input{
  width: 400px;
  padding: 10px;
}
.header-user-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-user-container img{
  width: 50px;
  height: 50px;
  border: 1px solid white;
  /* border-radius: 50%; */
  transition: 0.3s;
}
.header-user-container img:hover{
  opacity: 0.7;
}
.header-user-container button{
  padding: 13px;
  margin-right: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  transition: 0.3s;
}
.header-user-container button:hover{
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  color: white;
  border: 1px solid #ffffff;
}

/* HEADER SECOND */
.header-second-container{
  display: flex;
  align-items: center;
  padding: 20px 30px 10px 30px;
  /* background-color: #5415CE; */
  /* background-image: url('./assets/images/bg-copy.jpg'); */
  background-image: url('./assets/images/bg.jpg');
}
.arrow-header-left {
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent; 
  border-right: 15px solid rgb(243, 243, 243); 
  margin: 4px 20px;
}

/* NAVIGATION SECTION */
.navigation-container{
  display: flex;
  border-top: 1px solid #fff;
  /* background-color: #F98A06; */
  background-image: url('./assets/images/bg.jpg');
  justify-content: center;
}
.navigation-container-second{
  padding: 15px 30px;
  display: flex;
  /* background-image: url('./assets/images/bg_blackbox.png'); */
  background-image: url('./assets/images/bg.jpg');

}
.navigation-container p{
  padding: 15px 30px;
  transition: 0.3s;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}
.navigation-container p:hover{
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  color: black;
}

/* PRODUCT LIST HOME */
.home-list-container{
  width: 1024px;
  margin: 30px auto;
}
.home-list-container h1{
  text-align: center;
  margin-bottom: 30px;
  /* text-decoration: underline; */
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.home-product-list-item-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.product-item-list-container{
  /* width: 30%; */
  background: rgb(240, 240, 240);
  background-image: url('./assets/images/bg_blackbox.png');
  border: 1px solid rgb(228, 228, 228);
  padding-bottom: 20px;
  transition: 0.3s;
}
.product-item-list-container:hover {
  /* border: 2px solid rgb(43, 43, 43); */
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
.product-item-list-container p{
  padding: 10px 20px;
  color: white;
}
.product-item-list-image{
  position: relative;
}
.product-item-list-image img{
  filter: grayscale();
}
.product-item-list-image img:hover{
  filter: none;
}
.product-item-list-image p{
  position: absolute;
  bottom: 0;
  left: 0;
}
.product-item-list-price{
  padding: 5px 10px;
  /* background-color: #5415CE; */
  /* border: 3px solid black; */
  background: black;
  color: white;
}
.product-item-list-title{
  font-weight: bold;
  transition: 0.3s;
}
.product-item-list-title:hover{
  color: rgb(190, 190, 190);
}
.product-item-list-location{
  font-size: 14px;
}

/* HOME LOAD MORE BUTTON */
.home-load-more-container{
  text-align: center;
}
.home-load-more{
  margin: 50px 0;
}
.home-load-more button{
  /* padding: 10px 40px; */
  /* background-color: black; */
  /* color: white; */
  /* border: none;
  text-align: center;
  transition: 0.3s;
  cursor: pointer; */
}
.home-load-more button:hover {
  /* background-color: #F98A06; */
}

/* CATEGORY PAGE */
.home-component h1{
  text-align: center;
}

/* DETAIL ITEM USER */
.detail-item-user-container{
  width: 1024px;
  margin: 30px auto;
}
.detail-item-user-container h1{
  text-align: center;
  margin-bottom: 30px;
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.detail-item-user-picwhis{
  display: flex;
  height: 500px !important;
}

/* DETAIL ITEM USER WHISLIST */
.detail-item-user-whislist-wrap{
  display: flex;
  margin-bottom: 10px;
}
.detail-item-user-image{
  width: 50%;
}
.detail-item-user-image img{
  height: 500px;
}
.detail-item-user-descwhis{
  width: 50%;
  padding: 0 30px;
  overflow: scroll;
}
.detail-item-user-descwhis h2{
  margin-bottom: 20px;
  font-size: 20px;
  background-color: rgb(7, 7, 7);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
}
.item-user-whislist-image{
  width: 20%;
}
.item-user-whislist-description{
  padding: 0 20px;
}
.item-user-whislist-description p{
  margin-bottom: 10px;
}
.detail-item-user-whislist-wrap{
  border: 1px solid #eee;
  padding: 10px
}
.item-user-whislist-description-title{
  font-size: 22px;
  font-weight: bold;
}
.detail-item-user-second{
  width: 600px;
  margin: 30px auto;
}
.detail-item-user-second h1{
  color: rgb(0, 0, 0);
}
.detail-item-user-second p{
  text-align: center;
}
.detail-item-user-second-category{
  padding: 20px;
  background-color: rgb(209, 209, 209);
  margin: 40px 0;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.detail-item-user-second-category:hover{
  background-color: rgb(187, 187, 187);
  color: #000000;
}
.detail-item-user-descwhis button{
  margin-top: 50px;
  padding: 10px 25px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  color: black;
  transition: 0.3s;
  cursor: pointer;
}
.detail-item-user-descwhis button:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

/* DETAIL ITEM CUSTOMER */
.detail-item-customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product-item-list-container button{
  width: 100%;
  border: none;
  padding: 10px 0;
  transition: 0.3s;
  cursor: pointer;
}
.product-item-list-container button:hover{
  background-color: rgb(0, 0, 0);
  color: white;
}
.readyToExchange{
  bottom: 20px;
  right: 20px;
  position: fixed;
  /* padding: 20px 30px;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  color: black;
  transition: 0.3s; */
  cursor: pointer;
}
.readyToExchange:hover{
  background-color: black;
  color: rgb(255, 255, 255);
}

/* USER PROFILE COMPONENT */
.user-profile-container{
  width: 1000px;
  margin: 40px auto;
}
.user-profile-first {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid rgb(129, 129, 129);
}
.user-profile-container-image{
  width: 200px;
  margin-right: 30px;
}
.user-profile-container-image img{
  /* border-radius: 50%; */
  border: 5px solid rgb(182, 182, 182);
}
.user-profile-container-description p{
  padding: 10px 0;
}

/* USER NAVIGATION */
.user-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 102%; */
}
.user-navigation-list{
  width: 100%;
  text-align: center;
  background-color: rgb(224, 224, 224);
  padding: 10px 0;
  cursor: pointer;
  transition: 0.3s;
}
.user-navigation-list:hover{
  background-color: rgb(202, 202, 202);
}

/* USER BARANG */
.user-barang-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  /* flex-wrap: wrap;
  justify-content: center; */
}
.product-item-list-action-img {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}
.product-item-list-action-img img{
  width: 30px;
  padding: 5px;
  background: white;
  margin: 1px;
  opacity: 0.5;
  transition: 0.3s;
  cursor: pointer;
}
.product-item-list-action-img img:hover{
  opacity: 1;
}

/* USER MENGAJAK */
.user-mengajak-container{
  width: 100%;
  margin-top: 10px;
}
.user-mengajak-item-container{
  background-color: rgb(219, 219, 219);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

/* CSS */

.input-register {
  width: 400px;
  height: 30px;
  text-align: left;
  margin-bottom: 20px;
  padding: 20px;
  border: none;
  border-bottom: 1px solid rgb(114, 112, 112);
  background-color: rgb(240, 240, 240);
}


/* SLIDER SECTION */
.slick-container {
  width: 100%;
  height: auto;
}

.slick-slide {
  height: 320px;
  box-sizing: border-box;
}

.slick-slide img {
  height: 100%;
  width: 100%;
  border: 2.5px solid white;
  box-sizing: border-box;
}

/* CONFIRMATION */
.confirmation-container {
  width: 1024px;
  margin: 30px auto;
  display: flex;
}
.confirmation-container-half{
  width: 50%;
  height: 600px;
  margin: 20px;
  overflow: scroll;
}
.confirmation-container-half-title{
  background-color: rgb(223, 223, 223);
  padding: 20px;
  border-bottom: 2px solid black;
}
.confirmation-container-half-title h3{
  font-weight: normal;
}
.confirmation-items{
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0;
}
.confirmation-items img{
  width: 20%;
  margin-right: 20px;
}
.logout-icon{
  border-radius: 0;
  border: none;
}
.confirmation-button{
  position: fixed;
  bottom: 10px;
  left: 70%;
  /* margin-top: -50px;
  margin-left: -100px;
  padding: 2px;
  border: 2px solid black; */
}
.confirmation-button button{
  background-color: rgb(22, 22, 22);
  transition: 0.3s;
  padding: 20px;
  border: none;
  /* margin-bottom: 50px; */
  color: white;
  cursor: pointer;
  border: 1px solid black;
}
.confirmation-button button:hover{
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: 1px solid black;
}
.confirmation-title h1{
  text-align: center;
  margin: 30px 0;
  color: rgb(8, 8, 8);
}
.check-state{
  /* width: 20px;
  height: 20px;
  text-align: center; */
}

.success-container{
  width: 600px;
  margin: 50px auto;
  background-image: url('./assets/images/bg_blackbox.png');
  display: flex;
  padding: 50px;
  height: 500px;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}
.success-message{
  color: white;
  text-align: center;
}
.success-message a{
  color: #ffffff;
  font-weight: bold;
}
.success-message a:hover{
  color: rgb(175, 175, 175);
}
.success-message p{
  padding: 20px;
}
.success-message button{
  padding: 10px 30px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid white;
}
.success-message button:hover{
  background-color: rgb(12, 12, 12);
  color: white;
  border: 1px solid white;
}
.approve-reject-button{
  display: flex;
  position: fixed;
  bottom: 20px;
  left: 43%;
  margin-top: -50px;
  margin-left: -100px;
  justify-content: space-between;
  margin: auto
}
.app-rec-button{
  /* position: fixed; */
  /* display: flex; */
  /* bottom: 20px; */
  /* left: 50%; */
  /* margin-top: -50px;
  margin-left: -100px; */
  padding: 2px;
  border: 2px solid black;
  background-color: rgb(22, 22, 22);
  transition: 0.3s;
  padding: 20px;
  color: white;
}
.app-rec-button button{
  background-color: rgb(22, 22, 22);
  transition: 0.3s;
  padding: 20px;
  border: none;
  margin-right: 10px;
  /* margin-bottom: 50px; */
  color: white;
  cursor: pointer;
}
.app-rec-button button:hover{
  background-color: rgb(0, 0, 0);
  color: #f9be08;
}
.app-rec-button h1{
  text-align: center;
  margin: 30px 0;
  color: rgb(8, 8, 8);
}
.not-found-container{
  width: 500px;
  margin: auto;
}
.not-found-container button{
  text-align: center;
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
  transition: 0.3s;
  border: none;
}
.not-found-container button:hover{
  background-color: #000000;
  color: #fff;
}

/* SHFIHFISF */
.checked {
  filter: none !important;
  /* transform: scaleY(1) !important; */
  display: inline-block;
  width: 250px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 200ms ease-in;
}
.unCheckedBorderles {
  width: 300px;
  height: 400px;
  
  top:0; right: 0; left: 0; bottom: 0;
  margin: auto;
  
  background-color: black;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  width: 250px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 200ms ease-in;
  filter: grayscale(1) opacity(.8);
  
  -webkit-box-shadow: 0 0 5px #000;
        box-shadow: 0 0 5px #000;
}
.approved {
  position: relative;
  background-image: url("https://www.onlygfx.com/wp-content/uploads/2016/09/green-approved-stamp-1-1024x772.png");
  z-index: 100;
  height: 200px;
  top: -300px;
}

.gatauApa {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.doasat {
  width: 300px;
  height: 400px;
}

.unChecked {
  display: inline-block;
  width: 250px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 200ms ease-in;
  filter: grayscale(1) opacity(.8);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) {
  /* Styles */
  .home-product-list-item-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .user-barang-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    /* flex-wrap: wrap;
    justify-content: center; */
  }
  }
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {

  }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 320px) {
  /* Styles */
  }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px)  {
  /* Styles */
    /* Styles */
    .home-product-list-item-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
    .user-barang-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      /* flex-wrap: wrap;
      justify-content: center; */
    }
  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
  }
  /**********
  iPad 3
  **********/
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1224px) {
  /* Styles */
  .home-product-list-item-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .user-barang-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    /* flex-wrap: wrap;
    justify-content: center; */
  }
  }
  
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
  /* Styles */
  }
  
  /* iPhone 4 ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  /* Styles */
  }
  
  /* iPhone 5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6, 7, 8 ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone 6+, 7+, 8+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* iPhone X ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* iPhone XS Max, XR ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S3 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
  /* Styles */
  }
  
  /* Samsung Galaxy S4 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
  /* Styles */
  }